<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title WiNMessager
    link(rel="icon", sizes="60x60", href="https://w7.pngwing.com/pngs/973/913/png-transparent-computer-icons-online-chat-conversation-chat-room-facebook-messenger-chat-miscellaneous-blue-angle.png")
    link(href='~src/main.scss' rel='stylesheet')
  body
    block content
    script(src='~src/main.ts')