$blue: #3369f3;
$darkBlue: #0f1e45;
$lightBlue: #e4edfd;
$white: #fff;
$gray: #999999;
$gray10: #fbfbfb;
$gray20: #eaeaea;
$gray30: #efefef;
$gray40: #f8f8f8;
$grey50: #ccc;
$darkGray: #1e1e1e;
$red: #ff0000;
$green: #00c950;
