html {
  box-sizing: border-box;
  font-size: 12px;
}

*, 
*::after,
*::before {
  box-sizing: inherit;
}

body {
	font-family: 'Inter';
  font-style: normal;
	font-size: 12px;
	line-height: 15px;
}

input {
  border: none;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding: 20px 0;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-top: 21px;
}

.button {
  background: $blue;
  border-radius: 8px;
  color: $white;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;  
  text-align: center;
  padding: 12px;
  margin-bottom: 14px;
  cursor: pointer;
  width: 100%;
  width: 280px;
}

.ai-c {
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.error {
  color: $red;
  font-weight: normal;
  font-size: 8px;
  line-height: 8px;
  margin: 7px 0;
}

input[type='tel'],
input[type='email'] {
  &:invalid:not(:focus):not(:placeholder-shown) {
    color: $red;

    &~div.is-hidden {
      display: block;
    }
    
  }
}

.is-hidden {
  display: none;
}

.p-10 {
  padding: 10px, 0 !important;
}