@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin full {
  width: 100vw;
  height: 100vh;
}

@mixin message {
  font-weight: normal;
  font-size: 8px;
  line-height: 8px;
  margin: 7px 0;
  text-align: center;
}
