.profile {
  display: flex;
  @include full;

  &-content {
    @include centered;
    flex-direction: column;
    width: 100%;

    &__inner {
      display: flex;
      flex-direction: column;
      min-width: 510px;

      &:last-child {
        margin-top: 60px;
      }
    }

    &__form {
      margin-top: 60px;
    }
  }

  &__avatar {
    width: 130px;
    height: 130px;
  }
}