extends ../layout/layout

include ./mixins/infoRow/infoRow
include ./mixins/aside/aside
include ../../mixins/link/link

block content
  - const isView = true; //временная константа, указывает открыт профиль на редактирование (false) или просмотр (true)
  .profile
    +aside
    .profile-content
      .profile-content__inner.ai-c
        img(src="../../assets/images/default_avatar.png", alt="avatar", class="profile__avatar")
        h3 Иван
      form(method=GET, action='/profile', class='profile-content__form')
        +infoRow('Почта', 'pochta@yandex.ru', 'email', 'email', isView)
        +infoRow('Логин', 'ivanivanov', 'login', undefined, isView)
        +infoRow('Имя', 'Иван', 'first_name', undefined, isView)
        +infoRow('Фамилия', 'Иванов', 'second_name', undefined, isView)
        +infoRow('Имя в чате', 'Иван', 'display_name', undefined, isView) 
        +infoRow('Телефон', '+7 (909) 967 30 30', 'phone', 'tel', isView)
      if isView
        .profile-content__inner
          +link('Изменить данные', '/', 'border')
          +link('Изменить пароль', './passwordEditing/passwordEditing.pug', 'border')
          +link('Выйти', '/', 'danger')
      else 
        .profile-content__inner.ai-c
          input(type='submit', value='Сохранить', class='button')
      

      
