extends ../../layout/layout

include ../mixins/infoRow/infoRow
include ../mixins/aside/aside

block content
  .profile
    +aside
    .profile-content
      .profile-content__inner.ai-c
        img(src="~src/assets/images/default_avatar.png", alt="avatar" class="profile__avatar")
      form(method=GET action='/password' class='profile-content__form')
        +infoRow('Старый пароль', undefined, 'old_password', 'password')
        +infoRow('Новый пароль', undefined, 'new_password', 'password')
        +infoRow('Повторите новый пароль', undefined, 'new_password', 'password')
      .profile-content__inner.ai-c
        input(type='submit' value='Сохранить' class='button')
