extends ../layout/layout

include ../../mixins/input/input
include ../../mixins/link/link

block content
  .authorization
    .authorization-container
      h2 Вход
      form(method=GET, action='/authorization', class='authorization-form')
        .authorization-form__inner
          +input('Логин', 'login')
          +input('Пароль', 'password', 'password')
        .authorization-form__inner
          input(type='submit', value='Авторизироваться', class='button')
          +link('Нет аккаунта', './registration.pug')