.link {
  text-align: center;
  cursor: pointer;

  &-primary {
    color: $blue;
  }

  &-secondary {
    color: $gray;
  }

  &-danger {
    color: $red;
    // margin-top: 10px;
  }

  &-border {
    color: $blue;
    min-width: 510px;
    border-bottom: solid 1px $gray20;
    text-align: left;
    // padding: 10px 0;
  }
}
